@inherits LeftMenuComponent
<!--- block: Sidemenu -->
<div id="sidebar-menu" class="sidebar-menu sidebar-menu--collapse" data-js-unwrap>
    <ul class="metismenu" id="side-menu">
        <li class="menu-root">
            <a href="javascript: void(0);">
                <i class="fe-shopping-cart"></i>
                <span class="menu-name">Shop</span>
                <span class="menu-arrow"></span>
            </a>

            <ul class="nav-second-level two-column" aria-expanded="false">
                <li>
                    <div class="nav-thrid-level">
                        <div class="col">
                            <div class="menu-group">
                                <div class="menu-item">
                                    <span class="menu-group-title">Orders</span>
                                </div>
                                <div class="menu-item">
                                    <a href="#">All orders</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Cost vs sale</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Product sale statistics</a>
                                </div>
                            </div>

                            <div class="menu-group">
                                <div class="menu-item">
                                    <span class="menu-group-title">Products</span>
                                </div>
                                <div class="menu-item">
                                    <a href="/product-list.html">All products</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Product groups</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Inventory</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Faceted search</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Variant parameters</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Basic units</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Tem specifications</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Mass image upload</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Mass file upload</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="menu-group">
                                <div class="menu-item">
                                    <span class="menu-group-title">Discounts</span>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Normal discounts</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Vouchers</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Campaigns</a>
                                </div>
                            </div>

                            <div class="menu-group">
                                <div class="menu-item">
                                    <span class="menu-group-title">Stores</span>
                                </div>
                                <div class="menu-item">
                                    <a href="#">All stores</a>
                                </div>
                            </div>

                            <div class="menu-group">
                                <div class="menu-item">
                                    <span class="menu-group-title">Catalogs</span>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Generator</a>
                                </div>
                            </div>

                            <div class="menu-group">
                                <div class="menu-item">
                                    <span class="menu-group-title">Sync status</span>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Overview</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Latest logs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <a href="javascript:void(0)" class="menu-expand-toggle panel-btn-close"><i class="fe-x"></i></a>
            </ul>
        </li>
        <li class="menu-root">
            <a href="javascript: void(0);">
                <i class="fe-custom-user-circle"><i class="fe-user"></i></i>
                <span class="menu-name">Customer</span>
                <span class="menu-arrow"></span>
            </a>

            <ul class="nav-second-level two-column" aria-expanded="false">
                <li>
                    <div class="nav-thrid-level">
                        <div class="col">
                            <div class="menu-group">
                                <div class="menu-item">
                                    <span class="menu-group-title">Test scrollable</span>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Lorem ipsum dolor</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Consectetur adipisicing</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Sed do eiusmod</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Totam rem aperiam</a>
                                </div>
                            </div>

                            <div class="menu-group">
                                <div class="menu-item">
                                    <span class="menu-group-title">Sub group 02</span>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Lorem ipsum dolor</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Consectetur adipisicing</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Sed do eiusmod</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Totam rem aperiam</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Lorem ipsum dolor</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Consectetur adipisicing</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Sed do eiusmod</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Totam rem aperiam</a>
                                </div>
                            </div>

                            <div class="menu-group">
                                <div class="menu-item">
                                    <span class="menu-group-title">Sub group 03</span>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Lorem ipsum dolor</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Consectetur adipisicing</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Sed do eiusmod</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Totam rem aperiam</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Lorem ipsum dolor</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Consectetur adipisicing</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Sed do eiusmod</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Totam rem aperiam</a>
                                </div>
                            </div>

                            <div class="menu-group">
                                <div class="menu-item">
                                    <span class="menu-group-title">Sub group 04</span>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Lorem ipsum dolor</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Consectetur adipisicing</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Sed do eiusmod</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Totam rem aperiam</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Lorem ipsum dolor</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Consectetur adipisicing</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Sed do eiusmod</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Totam rem aperiam</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="menu-group">
                                <div class="menu-item">
                                    <span class="menu-group-title">Sub group 05</span>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Lorem ipsum dolor</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Consectetur adipisicing</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Sed do eiusmod</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Totam rem aperiam</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <a href="javascript:void(0)" class="menu-expand-toggle panel-btn-close"><i class="fe-x"></i></a>
            </ul>
        </li>
        <li class="menu-root">
            <a href="javascript: void(0);">
                <i class="fe-edit-2"></i>
                <span class="menu-name">Content</span>
                <span class="menu-arrow"></span>
            </a>

            <ul class="nav-second-level two-column" aria-expanded="false">
                <li>
                    <div class="nav-thrid-level">
                        <div class="col">
                            <div class="menu-group">
                                <div class="menu-item">
                                    <span class="menu-group-title">Sub group 06</span>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Lorem ipsum dolor</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Consectetur adipisicing</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Sed do eiusmod</a>
                                </div>
                                <div class="menu-item">
                                    <a href="#">Totam rem aperiam</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                        </div>
                    </div>
                </li>
                <a href="javascript:void(0)" class="menu-expand-toggle panel-btn-close"><i class="fe-x"></i></a>
            </ul>
        </li>
    </ul>
</div>
<!--- block end: Sidemenu -->

