@inherits ControlPanelComponent
<!-- block: control panel -->
<div class="control-panel list-group" data-js-unwrap>
    <div class="row">
        <div class="col">
            <a href="#" class="list-group-item item-link item-link--general">
                <i class="fe-settings"></i>
                <span class="item-link__title">General</span>
            </a>
        </div>
        <div class="col">
            <a href="#" class="list-group-item item-link item-link--language">
                <i class="fe-globe"></i>
                <span class="item-link__title">Language / translation</span>
            </a>
        </div>
        <div class="col">
            <a href="#" class="list-group-item item-link item-link--users">
                <i class="fe-user"></i>
                <span class="item-link__title">Users</span>
            </a>
        </div>
        <div class="col">
            <a href="#" class="list-group-item item-link item-link--groups">
                <i class="fe-custom-plus-users"><i class="fe-plus"></i><i class="fe-users"></i></i>
                <span class="item-link__title">Groups</span>
            </a>
        </div>
        <div class="col">
            <a href="#" class="list-group-item item-link item-link--prices">
                <i class="fe-dollar-sign"></i>
                <span class="item-link__title">Prices</span>
            </a>
        </div>
        <div class="col">
            <a href="#" class="list-group-item item-link item-link--shipping">
                <i class="fe-truck"></i>
                <span class="item-link__title">Shipping</span>
            </a>
        </div>
        <div class="col">
            <a href="#" class="list-group-item item-link item-link--payment">
                <i class="fe-credit-card"></i>
                <span class="item-link__title">Payment providers</span>
            </a>
        </div>
        <div class="col">
            <a href="#" class="list-group-item item-link item-link--inventory">
                <i class="fe-box"></i>
                <span class="item-link__title">Inventory / Warehouses</span>
            </a>
        </div>
        <div class="col">
            <a href="#" class="list-group-item item-link item-link--order-processing">
                <i class="fe-custom-refresh"><i class="fe-rotate-ccw"></i></i>
                <span class="item-link__title">Order processing</span>
            </a>
        </div>
        <div class="col">
            <a href="#" class="list-group-item item-link item-link--agreements">
                <i class="fe-check-circle"></i>
                <span class="item-link__title">Collaboration agreements</span>
            </a>
        </div>
        <div class="col">
            <a href="#" class="list-group-item item-link item-link--audit-log">
                <span class="item-link__icon"><i class="fe-search"></i></span>
                <span class="item-link__title">Audit log</span>
            </a>
        </div>
        <div class="col">
            <a href="#" class="list-group-item item-link item-link--mail-certificate">
                <i class="fe-mail"></i>
                <span class="item-link__title">Mail certificate</span>
            </a>
        </div>
        <div class="col">
            <a href="#" class="list-group-item item-link item-link--website-skin">
                <i class="fe-monitor"></i>
                <span class="item-link__title">Website skin</span>
            </a>
        </div>
    </div>
</div>
<!-- end block: control panel -->
