@using MCB.Memphis.Web.Components.Layout
<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu" data-js-unwrap>

    <!--Remove slimscroll-menu cause it's prevent scroll inside popover menu-->
    <LeftMenu></LeftMenu>

    <!--Make a coppy menu but wrap inside slimscroll-menu for mobile (if support mobile)-->
    <!-- Sidebar -left -->
</div>
<!-- Left Sidebar End -->
<!-- end Footer -->
@code {

}
