@using MCB.Memphis.Web.Components.Layout
<!-- start Right Sidebar -->
<div class="right-bar" data-js-unwrap>
    <div class="right-bar-title">
        <a href="javascript:void(0);" class="right-bar-toggle panel-btn-close">
            <i class="fe-x noti-icon"></i>
        </a>
        <h5>Control panel</h5>
    </div>
    <div class="slimscroll-menu">

        <ControlPanel></ControlPanel>

    </div> <!-- end slimscroll-menu-->
</div>
<!-- end Right-bar -->
<!-- Right bar overlay-->
<div class="right-bar-overlay"></div>
@code {

}
