<!-- Footer Start -->
<footer class="footer" data-js-unwrap>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">

                <!-- block: footer link -->
                <div class="footer-links">
                    <a href="about-us.html">About Us</a>
                    <a href="help.html">Help</a>
                    <a href="contact-us.html">Contact Us</a>
                </div>
                <!-- end block: footer link -->

            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->
@code {

}
