@inherits TopBarComponent

<AuthorizeView>
    <div class="navbar-custom" data-js-unwrap>

        <!-- Block: logo -->
        <div class="logo-box">
            <a href="/" class="logo"></a>
        </div>
        <!-- Block end: logo -->

        <ul class="list-unstyled topnav-menu topnav-menu--app">
            <li class="menu-icon">
                <button class="button-menu-mobile"><i class="fe-menu"></i></button>
            </li>

            <li class="dropdown">

                <div class="sites-picker">

                    <select @onchange="OnSiteGuidChange" class="scrollable" data-live-search="true" data-style="btn-default" data-display="static" data-plugin="bootstrap-select">
                        @if (adminSiteModels != null)
                        {
                            foreach (var item in adminSiteModels)
                            {
                                <option value="@item.Value" selected="@(item.Selected ? "true" : "false")">@item.Text</option>
                            }
                        }
                    </select>
                </div>
            </li>
        </ul>

        <ul class="list-unstyled topnav-menu topnav-menu--user">

            <li class="topnav-menu__search">

                <!-- Block: search -->
                <form class="app-search" action='.'>
                    <div class="app-search__box">
                        <div class="input-group input-group--search">
                            <input type="search" class="form-control app-search__key" placeholder="Search...">

                            <div class="input-group-append">
                                <button class="btn app-search__submit" type="submit">
                                    <i class="fe-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- Block end: search -->

            </li>

            <li class="topnav-menu__dropdown">

                <!-- Block: notification -->
                <div class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">
                        <i class="fe-bell noti-icon"></i>
                        <span class="badge badge-warning noti-icon-badge">0</span>
                    </a>                    
                </div>
                <!-- Block end: notification -->

            </li>

            <li class="topnav-menu__dropdown">

                <div class="dropdown notification-list profile-menu">

                    <a class="nav-link dropdown-toggle profile-menu__user" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">
                        <span class="profile-menu__user-name">
                            @context.User.Identity.Name <i class="fe-chevron-down"></i>
                        </span>
                    </a>

                    <div class="dropdown-menu profile-menu__dropdown">
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="fe-user"></i>
                            <span>My Account</span>
                        </a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="fe-settings"></i>
                            <span>Settings</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <!-- item-->

                        <a href="/account/logout" class="dropdown-item notify-item">Logout</a>
                    </div>
                </div>

            </li>


            <li class="topnav-menu__dropdown">

                <div class="dropdown notification-list">
                    <a href="javascript:void(0);" class="nav-link right-bar-toggle">
                        <i class="fe-settings noti-icon"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</AuthorizeView>