@using MCB.Memphis.Web.Components.Layout
<!-- Region: topbar -->

<div class="navbar-custom" data-js-unwrap>

    <!-- Block: logo -->
    <div class="logo-box">
        <a href="index.html" class="logo"></a>
    </div>
    <!-- Block end: logo -->

    <ul class="list-unstyled topnav-menu topnav-menu--app">
        <li class="menu-icon">
            <button class="button-menu-mobile"><i class="fe-menu"></i></button>
        </li>

        <li class="dropdown">

            <!-- Block: site list picker -->
            <div class="sites-picker">
                <select class="selectpicker" data-live-search="true" data-size="20" data-style="btn-default" data-display="static" data-mcb-js-sitelist></select>
            </div>
            <!-- Block end: site list picker -->

        </li>
    </ul>

    <ul class="list-unstyled topnav-menu topnav-menu--user">

        <li class="topnav-menu__search">

            <!-- Block: search -->
            <form class="app-search" action='.'>
                <div class="app-search__box">
                    <div class="input-group input-group--search">
                        <input type="search" class="form-control app-search__key" placeholder="Search...">

                        <div class="input-group-append">
                            <button class="btn app-search__submit" type="submit">
                                <i class="fe-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- Block end: search -->

        </li>

        <li class="topnav-menu__dropdown">

            <!-- Block: notification -->
            <div class="dropdown notification-list">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <i class="fe-bell noti-icon"></i>
                    <span class="badge badge-warning noti-icon-badge">3</span>
                </a>
                <div class="dropdown-menu dropdown-lg">
                    <!-- item-->
                    <div class="dropdown-item noti-title">
                        <h5>Notification</h5>
                        <span class="noti-title__close">
                            <a href="javscript:;" class="close">Clear All</a>
                        </span>
                    </div>
                    <div class="slimscroll noti-scroll">
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item active">
                            <div class="notify-icon">
                                <img src="assets/images/users/user-1.jpg" class="img-fluid img-user" alt="" />
                            </div>
                            <p class="notify-details">Cristina Pride</p>
                            <p class="text-muted mb-0 user-msg">
                                <small>Hi, How are you? What about our next meeting</small>
                            </p>
                        </a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-primary">
                                <i class="mdi mdi-comment-account-outline"></i>
                            </div>
                            <p class="notify-details">
                                Caleb Flakelar commented on Admin
                                <small class="text-muted">1 min ago</small>
                            </p>
                        </a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon">
                                <img src="assets/images/users/user-4.jpg" class="img-fluid img-user" alt="" />
                            </div>
                            <p class="notify-details">Karen Robinson</p>
                            <p class="text-muted mb-0 user-msg">
                                <small>Wow ! this admin looks good and awesome design</small>
                            </p>
                        </a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-warning">
                                <i class="mdi mdi-account-plus"></i>
                            </div>
                            <p class="notify-details">
                                New user registered.
                                <small class="text-muted">5 hours ago</small>
                            </p>
                        </a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-info">
                                <i class="mdi mdi-comment-account-outline"></i>
                            </div>
                            <p class="notify-details">
                                Caleb Flakelar commented on Admin
                                <small class="text-muted">4 days ago</small>
                            </p>
                        </a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-secondary">
                                <i class="mdi mdi-heart"></i>
                            </div>
                            <p class="notify-details">
                                Carlos Crouch liked
                                <b>Admin</b>
                                <small class="text-muted">13 days ago</small>
                            </p>
                        </a>
                    </div>
                    <!-- All-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item notify-all">
                        View all
                        <i class="fe-chevron-right"></i>
                    </a>
                </div>
            </div>
            <!-- Block end: notification -->

        </li>

        <li class="topnav-menu__dropdown">

            <!-- Block: notification -->
            <div class="dropdown notification-list profile-menu">

                <a class="nav-link dropdown-toggle profile-menu__user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <img src="assets/images/users/user-1.jpg" alt="user-image" class="profile-menu__user-img img-user">
                    <span class="profile-menu__user-name">
                        Brugernavn <i class="fe-chevron-down"></i>
                    </span>
                </a>

                <div class="dropdown-menu profile-menu__dropdown">
                    <!-- item-->
                    <div class="dropdown-header noti-title">
                        <h6>Welcome !</h6>
                    </div>
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-user"></i>
                        <span>My Account</span>
                    </a>
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-settings"></i>
                        <span>Settings</span>
                    </a>
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-lock"></i>
                        <span>Lock Screen</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-log-out"></i>
                        <span>Logout</span>
                    </a>
                </div>
            </div>
            <!-- Block end: notification -->

        </li>


        <li class="topnav-menu__dropdown">

            <div class="dropdown notification-list">
                <a href="javascript:void(0);" class="nav-link right-bar-toggle">
                    <i class="fe-settings noti-icon"></i>
                </a>
            </div>

        </li>

    </ul>
</div>
<!-- Region end: topbar -->
@code {

}
