@model MCB.Memphis.Web.Models.AccountLoginModel
@{
    Layout = "_Layout";
}
@using (Html.BeginForm())
{
    <div class="container">
        <div class="row justify-content-center">
            <div>
                <div class="card bg-pattern">
                    <div class="card-body">

                        <div class="text-center">
                            <p class="text-muted mb-4 mt-3">Enter your user name and password to access admin panel.</p>
                        </div>

                        <form method="post" action="/account/login">
                            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                            <div class="form-group">
                                <label for="userName">User name</label>
                                @Html.TextBoxFor(model => model.UserName)*
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                @Html.PasswordFor(model => model.Password)*
                            </div>
                            <div class="form-group">

                                @Html.ValidationSummary()
                                @if (Model.Errors?.Any() == true)
                                {
                                <ul>
                                    @foreach(var error in Model.Errors)
                                    {
                                        <li>
                                            @error
                                        </li>
                                    }
                                </ul>
                                }
                            </div>
                            <div class="form-group text-center">
                                <button class="btn btn-primary btn-block" type="submit"> Log In </button>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
