// Variables
// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px
// ) !default;

// $direction-rtl:                 true;


$font-family-sans-serif:      proxima-nova, sans-serif;

$h5-font-size:                1rem;


$white:                         #fff;
$gray-200:                      #dadada;
$gray-900:                      #2B2B2B;
$black:                         #000;

$primary:                       #EC5712;
$warning:                       $primary;
$secondary:                     $gray-900;
// $light:                         $white;

$body-color:                   #666;

$enable-validation-icons:       false;

$input-btn-padding-y:         .4375rem;
$input-btn-padding-x:         .875rem;


$bg-leftbar:                        #BEBEBE;
$menu-item:                         #E2E1E1;
$menu-item-hover:                   $white;
$menu-item-hover-bg-color:          #545454;
$menu-item-active:                  $menu-item-hover;
$menu-item-active-bg-color:         $menu-item-hover-bg-color;
$menu-sub-item-active:              rgba(43,43,43,0.4);
$menu-sub-item-box-shadow:          null;
$menu-sub-item-active-bg-color:     rgba(43,43,43,0.4);
$menu-sub-item-hover-bg-color:      $menu-sub-item-active-bg-color;

$card-shadow-enable:            false;

// Importing the default styling

@import "../../scss/v1.0/layout";



