@page "/news/{newsGuid:int}"
@inherits NewsEditComponent
@using MCB.Memphis.Web.Components
@using MCB.Memphis.Web.Components.News
@if (newsModel == null)
{
    <h1>Loading...</h1>
}
else
{
    <div class="content-top stickable">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <!-- if editing a news then page title is news heading -->
                    <div class="page-title-box hide-on-sticky">
                        <h1 class="page-title">News editor</h1>
                    </div>

                    <!-- block: page actions -->
                    <div class="page-actions page-actions--top">
                        <div class="row">                            
                            <div class="col col-crud">
                                <!-- redirect to create-new page -->
                                <!-- alert save current news? -->
                                <button type="button" class="btn btn-default btn-icon btn-fn-delete"><i class="fe-trash"></i><span>Delete</span></button>
                            </div>
                        </div>
                    </div>
                    <!-- block end: page actions -->
                </div>
            </div>
        </div>

    </div>

    <div class="content-main">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- This wrapper should not be rendered. Handled by blazor -->
            <div data-js-toggle="tab-news-general">
                <div class="row">
                    <div class="col-lg-6">
                        <NewsInfo NewsModel="@newsModel"></NewsInfo>
                    </div>
                    <div class="col-lg-6">
                        <NewsImages NewsModel="@newsModel"></NewsImages>
                        <NewsFiles NewsModel="@newsModel"></NewsFiles>


                    </div>
                </div>
            </div>            
        </div> <!-- container -->

    </div> <!-- content -->

    <div class="content-bottom stickable" data-js-toggle="tab-news-general">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-actions page-actions--bottom">
                        <button type="button" class="btn btn-default btn-fn-cancel">Cancel</button>
                        <button type="button" class="btn btn-primary btn-fn-submit" disabled="" data-mcb-js-submit="#form-general, #form-meta-data">Save</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

}
