@page "/news/{newsGuid:int}"
@page "/news/create"
@inherits NewsEditComponent
@using MCB.Memphis.Web.Components
@using MCB.Memphis.Web.Components.News
@if (newsModel == null)
{
    <h1>Loading...</h1>
}
else
{
    <div class="content-top stickable">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="page-title-box hide-on-sticky">
                        <h1 class="page-title">News editor</h1>
                    </div>                    
                </div>
            </div>
        </div>

    </div>

    <div class="content-main">

        <div class="container-fluid">
            <div data-js-toggle="tab-news-general">
                <div class="row">
                    <div class="col-lg-6">
                        <NewsInfo NewsModel="@newsModel"></NewsInfo>
                    </div>
                    <div class="col-lg-6">
                        <NewsImages NewsModel="@newsModel"></NewsImages>
                        <NewsFiles NewsModel="@newsModel"></NewsFiles>


                    </div>
                </div>
            </div>
        </div> <!-- container -->

    </div> <!-- content -->

    <div class="content-bottom stickable" data-js-toggle="tab-news-general">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-actions page-actions--bottom">
                        <button type="button" class="btn btn-default btn-fn-cancel" @onclick="@(() => { _uriHelper.NavigateTo("/news");})">Cancel</button>
                        <button type="button" class="btn btn-primary btn-fn-submit" @onclick="SaveNews">Save</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

}
