@using MCB.Memphis.Web.Components.Shared
@inherits LayoutComponentBase

<div id="wrapper">
    <TopBar></TopBar>
    <LeftSideBar></LeftSideBar>
    <div class="content-page">
        @Body
        <SiteFooter></SiteFooter>
    </div>
</div>
<RightSideBar></RightSideBar>


